name: CI

on:
  push:
  repository_dispatch:
    types: case_updated

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Checkout geo-data sources
        uses: actions/checkout@v1
        with:
          repository: gridsuite/geo-data
          ref: refs/heads/master

      - name: Build and install geo data with Maven
        run: mvn --batch-mode -DskipTests=true --file ../geo-data/pom.xml install

      - name: Checkout powsybl case-server sources
        uses: actions/checkout@v1
        with:
          repository: powsybl/powsybl-case-server
          ref: refs/heads/master

      - name: Build and install case serve with Maven
        run: mvn --batch-mode -DskipTests=true --file ../powsybl-case-server/pom.xml install

      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Build with Maven
        run: mvn --batch-mode -Pjacoco install

      - name: Run SonarCloud analysis
        run: >
          mvn --batch-mode -DskipTests sonar:sonar
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.organization=powsybl-ci-github
          -Dsonar.projectKey=com.powsybl:powsybl-cgmes-gl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Build Docker image
        if: github.ref == 'refs/heads/master'
        run: >
          mvn --batch-mode deploy -DskipTests -Dmaven.install.skip -Dmaven.deploy.skip -Dpowsybl.docker.deploy
          -Djib.httpTimeout=60000
          -Djib.to.image=docker.io/powsybl/cgmes-gl-server
          -Djib.to.auth.username=powsyblci
          -Djib.to.auth.password=${{ secrets.DOCKERHUB_TOKEN }}

      - name: Broadcast update event
        if: github.ref == 'refs/heads/master'
        uses: gridsuite/broadcast-event@master
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          organizations: gridsuite
          event-type: cgmes_gl_updated
